@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;200;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html{
    /**/
    scroll-behavior: smooth;
    background-image: url("../assets/fondo.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

/*Menu*/

.container-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;

}

.container-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.container-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #1cb698;
    text-decoration: none;

}

.container-header header ul {
    display: flex;
    list-style: none;
}

.container-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.container-header header nav ul li a:hover{
    color: #1cb698;
}

.nav-responsive{
    background-color: #1cb698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*Seccion inicio*/
.container-inicio{
    
    height: 100vh;
    color: #fff;
    display: flex;
    align-content: center;
}

.container-inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.container-inicio .contenido-banner img {
   margin-top: 40px;
   border: 10px solid #1cb698;
   display: block;
   width: 80%;
   margin: auto;
   border-radius: 100%;
}

.container-inicio .contenido-banner h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.container-inicio .contenido-banner h2 {
    font-size: 15px;
    font-weight: normal;
}

.container-inicio .contenido-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;

}

.container-inicio .contenido-banner .redes a:hover{
    background-color: #1cb698;
}
/*Seccion Sobre mi*/
.sobremi{
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}


.sobremi .contenido-seccion p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span{
    color: #1cb698;
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobremi .fila .col ul {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 12px 0;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: #1cb698;
    width: 130px;
}

.sobremi .fila .col ul li span{
    background-color: #1cb698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .container-intereses{
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .container-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252a2e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .container-intereses .interes:hover{
    background-color: #1cb698;
}

.sobremi .fila .col .container-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1cb698;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay{
    width: 100%;
}

/*Section Skills*/
.skills{
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.skills .fila {
    display: flex;
}

.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso{
    background-color: #1cb698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1cb698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/*Nota: Integrar clases con js*/
/*Java EE*/
.skills .skill .javaee{
    width: 0%;
    animation: 2s javaee forwards;
}

@keyframes javaee{
    0%{width: 0%;}
    100%{width: 85%;}
}

/*Java POO*/
.skills .skill .javapoo{
    width: 0%;
    animation: 2s javapoo forwards;
}

@keyframes javapoo{
    0%{width: 0%;}
    100%{width: 85%;}
}

/*Jpa-hibernate*/
.skills .skill .jpahibernate{
    width: 0%;
    animation: 2s jpahibernate forwards;
}

@keyframes jpahibernate{
    0%{width: 0%;}
    100%{width: 65%;}
}

/*SprintBoot*/
.skills .skill .springboot{
    width: 0%;
    animation: 2s springboot forwards;
}

@keyframes springboot{
    0%{width: 0%;}
    100%{width: 50%;}
}

/*SQL con MySql*/
.skills .skill .sqlmysql{
    width: 0%;
    animation: 2s sqlmysql forwards;
}

@keyframes sqlmysql{
    0%{width: 0%;}
    100%{width: 70%;}
}

/*Git y Github*/
.skills .skill .gitgithub{
    width: 0%;
    animation: 2s gitgithub forwards;
}

@keyframes gitgithub{
    0%{width: 0%;}
    100%{width: 90%;}
}
/*Softskill*/
/*Business Agility*/
.skills .skill .businessagility{
    width: 0%;
    animation: 2s businessagility forwards;
}

@keyframes businessagility{
    0%{width: 0%;}
    100%{width: 85%;}
}

/*Desarrollo Personal*/
.skills .skill .desarrollopersonal{
    width: 0%;
    animation: 2s desarrollopersonal forwards;
}

@keyframes desarrollopersonal{
    0%{width: 0%;}
    100%{width: 80%;}
}

/*Trabajo en equipo*/
.skills .skill .trabajoenequipo{
    width: 0%;
    animation: 2s trabajoenequipo forwards;
}

@keyframes trabajoenequipo{
    0%{width: 0%;}
    100%{width: 95%;}
}

/*Pensamiento Lógico*/
.skills .skill .pensamientologico{
    width: 0%;
    animation: 2s pensamientologico forwards;
}

@keyframes pensamientologico{
    0%{width: 0%;}
    100%{width: 80%;}
}

/*Pensamiento Critico*/
.skills .skill .pensamientocritico{
    width: 0%;
    animation: 2s pensamientocritico forwards;
}

@keyframes pensamientocritico{
    0%{width: 0%;}
    100%{width: 70%;}
}

/*Dedicacion*/
.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}

@keyframes dedicacion{
    0%{width: 0%;}
    100%{width: 95%;}
}

/*Comunicacion Asertiva*/
.skills .skill .comunicacionasertiva{
    width: 0%;
    animation: 2s comunicacionasertiva forwards;
}

@keyframes comunicacionasertiva{
    0%{width: 0%;}
    100%{width: 97%;}
}